ASPWebServiceTest/App_WebReferences/ServiceReference1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="tempuri.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="tempuri.org">
      <s:element name="AddEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eventName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="eventDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="eventAcc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="eventTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddEventResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Auth" type="tns:Auth" />
      <s:complexType name="Auth">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userPassword" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="check">
        <s:complexType />
      </s:element>
      <s:element name="checkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddEventSoapIn">
    <wsdl:part name="parameters" element="tns:AddEvent" />
  </wsdl:message>
  <wsdl:message name="AddEventSoapOut">
    <wsdl:part name="parameters" element="tns:AddEventResponse" />
  </wsdl:message>
  <wsdl:message name="AddEventAuth">
    <wsdl:part name="Auth" element="tns:Auth" />
  </wsdl:message>
  <wsdl:message name="checkSoapIn">
    <wsdl:part name="parameters" element="tns:check" />
  </wsdl:message>
  <wsdl:message name="checkSoapOut">
    <wsdl:part name="parameters" element="tns:checkResponse" />
  </wsdl:message>
  <wsdl:message name="checkAuth">
    <wsdl:part name="Auth" element="tns:Auth" />
  </wsdl:message>
  <wsdl:portType name="TestService">
    <wsdl:operation name="AddEvent">
      <wsdl:input message="tns:AddEventSoapIn" />
      <wsdl:output message="tns:AddEventSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="check">
      <wsdl:input message="tns:checkSoapIn" />
      <wsdl:output message="tns:checkSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestService" type="tns:TestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddEvent">
      <soap:operation soapAction="tempuri.org/AddEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddEventAuth" part="Auth" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="check">
      <soap:operation soapAction="tempuri.org/check" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:checkAuth" part="Auth" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestService1" type="tns:TestService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddEvent">
      <soap12:operation soapAction="tempuri.org/AddEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddEventAuth" part="Auth" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="check">
      <soap12:operation soapAction="tempuri.org/check" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:checkAuth" part="Auth" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="TestService" binding="tns:TestService">
      <soap:address location="http://localhost:64561/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="TestService1" binding="tns:TestService1">
      <soap12:address location="http://localhost:64561/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>